.container > .cloud-img {
    height: 110vh;
    position: absolute;
    right: 0;
    z-index:-1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panel {
    display: flex;
    list-style: none;
    padding-left: 14%;
}
.tab {
    padding-right: 60px;
    font-size: 14px;
    color: #505F98;
}
.tab:hover {
    color: rgba(17, 27, 71, 1);
}
.title {
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
    color: #37447E;
}
.btn-header {
    width: 160px;
    height: 26px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(17, 27, 71, 1);
    border: none;
    margin-right: 165px;
}
.burger-icon {
    display: none;
}

@media screen and (max-width: 1000px) {
    .header {
        padding: 16px;
        display: flex;
        justify-content: space-between;
    }
    .panel, .btn-header {
        display: none;
    }
    .burger-icon {
        width: 15px;
        display: block;
        border: none;
        background-color: transparent;
    }
    .burger-icon:hover {
        background-color: transparent;
    } 
}



    
    
