.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 100px;
}
.img-hidden {
    display: none;
}
.text-hero {
    width: 60%;
    padding-top: 40px;
    padding-left: 163px;
}

.img-hero{
    width: 35%;
    margin-left: 30%;
    position: absolute;
    right: 0;
}

.text-hero p:first-of-type {
    margin: 20px 0 20px 0;
}
.text-hero > h1 {
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: 1px;
    color: #091133;
}
.text-hero > p {
    font-size: 18px;
    line-height: 30px;
    color: rgba(80, 95, 152, 1);
}
.text-hero > button {
    width: 189px;
    height: 36px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 74px;
}
.btn-black {
    background-color: rgba(17, 27, 71, 1);
    color: white;
    border: none;
    margin-top: 20px;
}
.btn-white {
    background-color: white;
    border: 2px solid rgba(9, 17, 51, 1);
    color: rgba(9, 17, 51, 1);
    margin-top: 20px;
}
.btn-white:hover {
    color: white;
    border: none;
}

@media screen and (max-width: 1000px) {
    .hero {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-left: 0;
    }
    .cloud-img {
        display: none;
    }
    .img {
        display: none;
    }
    .img-hidden {
        display: block;
    }

    .hero h1 {
        font-size: 30px;
        line-height: 35px;
        

    }



    .text-hero {
        width: 400px;
        margin-top: 20px;
        text-align: center;
        padding-left: 0;
    }
    .text-hero h1 {
        font-size: 30px;
    }
    .first-txt {
        display: none;
    }
    .hero-btns {
        margin-top: 30px;
    }
    .btn-white {
        margin-top: 20px;
        margin-left: 0;
    }
}


