.main{
    margin-top: 80px;
    padding-left: 5%;
}
h2{
    font-size: 26px;
}
.main p{
    margin: 20px 0 80px 0;
}
h4{
    margin-top: 14px;
    color: #000;
}

.chapter{
    float: left;
    width: 50%;
}
.chapter p{
    font-size: 12px;
    line-height: 18px;
    color: #000;
}
.sides{
    padding: 160px 15% 108px 15%;
    display: flex;
}
.sides .right, .sides .left{
    width: 50%;
    
}
.sides .right {
    margin-left: 50px;
}