.main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 10%;
    padding: 18px;
    margin-right: 10%;
}

.panel {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.tab {
    padding-right: 60px;
    font-weight: 400;
    font-size: 14px;
    color: #505F98;
}

.tab:hover {
    color: rgba(17, 27, 71, 1);
}

.title {
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
    color: #37447E;
}

.btn-header {
    width: 160px;
    height: 26px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(17, 27, 71, 1);
    border: none;
}